<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Blog App</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-3">Blog Articles</h1>
      <a href="/articles/new" class="btn btn-success mb-4"
        >Create New Article</a
      >

      <% articles.forEach((article)=>{ %>
      <div class="card mb-4">
        <div class="card-body">
          <h2><%=article.title%></h2>
          <p class="text-muted"><%=article.createdAt.toLocaleDateString() %></p>
          <p><%=article.description%></p>
          <div class="buttons mt-2 d-flex">
            <a href="articles/<%=article.id %>" class="btn btn-primary mr-2"
              >Read More</a
            >
            <a href="articles/edit/<%=article.id%>" class="btn btn-info mr-2"
              >Edit</a
            >
            <form
              action="/articles/<%=article.id%>?_method=DELETE"
              method="POST"
            >
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <% })%>
    </div>
  </body>
</html>
